  .example-card {
    max-height:7%;
    background-color: black;
    color:white;
    border-width: thin;
    border-style:solid;
    border-color:white;
  }
  .a{
    text-align: center;
  }
  .app{
    position: fixed;
    left: 23.8%;
    top:15%;
    max-height: 70%;
    width: 40%;
    border-radius: 0px;
    border-width:thin;
    border-color: black;
    border-style:solid;
    border-radius:10px;
    overflow-y: scroll;
}
.spinner{
  position: absolute;
  left: 50%;
  top:40%;
}
