/* .item {
    cursor: pointer;
  }
  
  .cocktail-item-list {
    max-height: 500px;
    overflow-y: scroll;
    width: 400px;
  }
  
  .app{
      position: absolute;
      left: 300px;
      top:100px;
  } */


  .example-card {
    max-height:60px;
    background-color: black;
    color:white;
    border-width: thin;
    border-style:solid;
    border-color:white;
  }
  .a{
    text-align: center;
  }
  .app{
    position: fixed;
    left: 400px;
    top:150px;
    max-height: 500px;
    width: 400px;
    border-radius: 0px;
    border-width:thin;
    border-color: black;
    border-style:solid;
    border-radius:10px;
    overflow-y: scroll;
}

.spinner{
  position: absolute;
  left: 775px;
  top:400px;
}