/* .item {
    cursor: pointer;
  }
  
  .cocktail-item-list {
    max-height: 500px;
    overflow-y: scroll;
    width: 400px;
  }
  
  .app{
      position: absolute;
      left: 300px;
      top:100px;
  } */

  .example-card {
    max-height:7%;
    background-color: black;
    color:white;
    border-width: thin;
    border-style:solid;
    border-color:white;
  }
  .a{
    text-align: center;
  }
  .app{
    position: fixed;
    left: 23.8%;
    top:17.2%;
    max-height: 58.3%;
    width: 23.7%;
    border-radius: 0px;
    border-width:thin;
    border-color: black;
    border-style:solid;
    border-radius:10px;
    overflow-y: scroll;
}
.spinner{
  position: absolute;
  left: 50%;
  top:40%;
}
