
<div class="footer">
<div class="para">
    <p>Search By Index</p>
</div>

<div class="buttonpos">
    <button *ngFor="let el of arr" (click)="onLoadIndex(el)">
        {{el}}
    </button>
</div>
</div>
<div class="searching">
    <div class="search">
        <mat-form-field class="input">
            <input #searchval matInput type="search" placeholder="Search By Name" class="search-input">
            <mat-icon matSuffix class="search-icon" (click)="onSearch(searchval.value)">search</mat-icon>
        </mat-form-field>
    

        <mat-expansion-panel class="panel">
            <mat-expansion-panel-header>
                <mat-panel-title class="title"> 
                    Advanced Search
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="filtersForm" (ngSubmit)="submitForm()">
                <mat-form-field class="input">
                    <input matInput type="text" placeholder="Ingredient Search" formControlName="ing">
                </mat-form-field>
                <button class="nb" type="submit">
                    <mat-icon>search</mat-icon>
                </button>
                <br /> <br />
                <input type="checkbox" formControlName="cocktail" class="checkbox"/> Cocktail
                &nbsp; &nbsp;
                <input type="checkbox" formControlName="ordinary" class="checkbox"/> Ordinary Drink
            </form>
            </mat-expansion-panel>
    </div>

</div>

<mat-spinner class="spinner" *ngIf="loader.isLoadingSpinner; else content"></mat-spinner>


<ng-template #content>
    <div class="app" *ngIf="cocktail.isFiltering">
        <mat-card class="example-card" *ngFor="let cocktail of searchList" (click)="cocktailDetail(cocktail)">
            <mat-card-header>
                <img mat-card-avatar [src]="cocktail.imgThumb">
                <span class="a">{{cocktail.name}}</span>
            </mat-card-header>
        </mat-card>
    </div>
</ng-template>

<div class="app" *ngIf="cocktail.isDefault">
    <mat-card class="example-card" *ngFor="let cocktail of searchList" (click)="cocktailDetail(cocktail)">
        <mat-card-header>
            <img mat-card-avatar [src]="cocktail.imgThumb">
            <span class="a">{{cocktail.name}}</span>
        </mat-card-header>
    </mat-card>
</div>

<div class="app" *ngIf="searchListLength<1">
    <mat-card class="example-card">
        <mat-card-header>
            <span class="a">No Results Found</span>
        </mat-card-header>
    </mat-card>
</div>


<app-searchresults *ngIf="clicked" [element]="searchedElement"></app-searchresults>