.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background:darkcyan;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
    .header-text {
      font-family: 'Tajawal', cursive;
      font-style: normal;
      font-weight: normal;
      font-size: 2vw;
      letter-spacing: 0.51em;
      color:white;
    }
  
    img {
      max-width: auto;
      max-height: 3vw;
    }