.card{
position: absolute;
left: 47.5%;
top: 17.2%;
width:16.5%;
height:58.3%;
overflow-y: scroll;
border-color: black;
border-style: solid;
border-width:thin;
padding: 3px;
border-radius:10px;
}

img{
    height:40%;
    width: 110%;
}

.cardf{
    padding:17px;
}