.card{
    position: absolute;
    left: 64%;
    top: 15%;
    width:20%;
    height:69.5%;
    overflow-y: scroll;
    border-color: darkcyan;
    border-style: solid;
    padding: 3px;
    border-radius:10px;
    }
    
    img{
        height:40%;
        width: 110%;
    }
    
    .cardf{
        padding:17px;
    }